<div class='container'>
  <h2><%= @restaurant.name %></h2>
  <p>Category: <%= @restaurant.category %></p>
  <p>Address: <%= @restaurant.address %></p>
  <p>Phone Number: <%= @restaurant.phone_number %></p>
  <p><%= link_to "Back", restaurants_path %></p>
  <p><%= link_to "Add Review", new_restaurant_review_path(@restaurant) %></p>
  <hr>
  <p><strong>Reviews</strong></p>
  <ul class='list-group'>
    <% @restaurant.reviews.each do | review | %>
      <li class='list-group-item'><%= review.rating %> - <%= review.content %></li>
    <% end %>
  </ul>
  <hr>
</div>
